<h2>Hello. I'm Aaron!</h2>
<p>I am a software developer, father, beer maker, hunter, and full-time knucklehead. I'm a big fan of parallel programming, amarillo hops, and spending time outdoors.
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=orgcandman&repo=orgcandman.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=orgcandman&repo=orgcandman.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/orgcandman" rel="me" class="social github" title="Go to github.com/orgcandman" target="_blank"></a></li>
	</ul>
</p>
